.iconeCity {
	 background-image: url("#{resource['pictures/city_16.png']}")  
        !important;  
}
.iconeUsuario {
	 background-image: url("#{resource['pictures/user_16.png']}")  
        !important;  
}
.iconeStreet {
	 background-image: url("#{resource['pictures/street_16.png']}")  
        !important;  
}
.iconeDistrict {
	 background-image: url("#{resource['pictures/district_16.png']}")  
        !important;  
}
.iconeCitizen {
	 background-image: url("#{resource['pictures/person_16.png']}")  
        !important;  
}
