.iconeCity {
	 background-image: url("#{resource['pictures/city_16.png']}")  
        !important;  
}
.iconeUsuario {
	 background-image: url("#{resource['pictures/user_16.png']}")  
        !important;  
}
.iconeSair {
	 background-image: url("#{resource['pictures/exit_16.png']}")  
        !important;  
}
.iconeMudarSenha {
	 background-image: url("#{resource['pictures/key_16.png']}")  
        !important;  
}
.iconeCourse {
	 background-image: url("#{resource['pictures/course_16.png']}")  
        !important;  
}
